{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="bg-secondary text-white sticky-top">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center py-2">
            <h1>
                <span class="me-4">
                    <a href="{% url 'connect' %}" class="text-decoration-none text-white">
                        <i class="fa-solid fa-arrow-left"></i>
                    </a>
                </span>
                About App
            </h1>
            <img src="{% static 'MEPKING/logo.png' %}" height="75rem" alt="">
        </div>
    </div>
</div>

<div class="container mt-3">

    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <h5 class="fw-bold">Live Views</h5>
            <span class="badge bg-primary rounded-pill" id="liveCount">Loading...</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center mt-1">
            <h5 class="fw-bold">Overall Views</h5>
            <span class="badge bg-primary rounded-pill">{{ unique_visitors_count }}</span>
        </li>
    </ul>

    <div class="ratio ratio-21x9 my-3">
        <iframe src="https://www.youtube.com/embed/07Q9TtRka34?start=6" title="YouTube video" allowfullscreen></iframe>
    </div>

    <p>Mepkin Abbey Introduces Mepkin App: A Progressive Web Application with Plans for iOS and Android Launch</p>

    <p>Moncks Corner, SC – Mepkin Abbey, the tranquil haven of spirituality and contemplation, is excited to announce
        the introduction of the Mepkin App, a progressive web application designed to bring the peace and wisdom of the
        Abbey directly to individuals worldwide. As a web-based platform, the Mepkin App is easily accessible from any
        device with an internet connection, providing users immediate access to digital hospitality.</p>

    <p>The Mepkin App features daily prayers, virtual tours, meditations, spiritual readings, and exclusive content
        from the Mepkin Monks. It also offers users the ability to participate in virtual retreats, access an extensive
        library of spiritual texts, and stay informed about upcoming events at Mepkin Abbey.</p>

    <p>Commitment to Privacy and Spiritual Growth</p>

    <p>In alignment with the deeply personal nature of spiritual exploration, the Mepkin App prioritizes user privacy.
        All interactions within the app are held in strict confidence, ensuring a safe and sacred space for personal
        growth and reflection.</p>

    <p>Future Expansion to iOS and Android Platforms</p>

    <p>While currently available as a progressive web application, Mepkin Abbey is delighted to announce that the
        Mepkin App will soon be available for download on both iOS and Android platforms. This expansion will make the
        app even more accessible, allowing users to engage with Mepkin Abbey’s spiritual resources directly from their
        smartphones and tablets.</p>

    <p>◦A Word from Father Joe</p>

    <p>“With the launch of the Mepkin App as a progressive web application, we are laying the foundation for our vision
        of a more connected spiritual community,” said Father Joe, Superior of Mepkin Abbey. “Looking forward, we are
        excited about the upcoming release on iOS and Android. This will further our mission to reach out and provide
        spiritual support to those in search of peace and purpose. We invite everyone to join us on this digital
        hospitality of faith and discovery.”</p>

    <p>Discover the Mepkin App Today</p>

    <p>The Mepkin App is currently available as a progressive web application and will soon enhance its reach with the
        launch on iOS and Android platforms. Users across the globe are invited to experience the spiritual guidance and
        community of Mepkin Abbey through this innovative app.</p>

    <p>For more information about Mepkin Abbey and the Mepkin App, please visit Mepkinapp.org</p>

    <p>Contact Information:</p>

    <p>Mepkin Abbey Communications Office<br>
        1098 Mepkin Abbey Rd,<br>
        Moncks Corner, SC 29461</p>

    <p>◦About Mepkin Abbey:</p>
    <p>Mepkin Abbey is a Trappist monastery located in Moncks Corner, South Carolina. It is a place of spiritual
        retreat, prayer, and contemplation, following the Cistercian tradition. The Abbey is committed to providing
        spiritual guidance and support, fostering a deep understanding of the monastic way of life, and serving the
        broader community through its spiritual programs.</p>

    <p>Copyright © 2024 The PatchWork™. All Rights Reserved.<br>
        By using this PWA, you signify that you agree to be bound by these Universal Terms of Service.</p>

    <p>Content of Universal Terms of Service</p>

    <p>Privacy Policy for Mepkin Abbey App</p>

    <p>◦ Introduction</p>

    <p>This Privacy Policy outlines the practices of the Mepkin Abbey App regarding the collection, use, and sharing of
        information. This policy is dedicated to users of the Mepkin Abbey App and governs the privacy of the data
        shared within it.</p>

    <p>◦ Information Collection, Use, and Sharing</p>

    <p>We, the Mepkin Abbey App Team, are the sole custodians of the information collected through the App. The
        information we gather comes directly from you when you provide it to us, whether through email, app forms, or
        any direct interactions. We pledge not to sell or rent your information.</p>

    <p>The purpose of collecting your information is to enhance your interaction with us, addressing any queries or
        requests you might have. Your information will not be disclosed to any third-party, except as needed to fulfill
        your requests, such as processing orders.</p>

    <p>We may reach out to you in the future via email to inform you about specials, new services, or changes to this
        Privacy Policy, unless you instruct us otherwise.</p>

    <p>◦ Your Rights Over Your Information</p>

    <p>You have the right to opt-out of any future contacts from us at any time. By reaching out to us through the
        provided email address or phone number on our website, you can:</p>

    <p>• Inquire about the data we have about you, if any.<br>
        • Change/correct any data we have about you.<br>
        • Request us to delete any data we have about you.<br>
        • Express any concern you have about our use of your data.</p>

    <p>◦ Security Measures</p>

    <p>We are committed to protecting your information. Sensitive data submitted via the App is safeguarded both online
        and offline with encryption practices, such as the SSL protocol signified by a lock icon in the address bar and
        the “https” in our web page URL.</p>

    <p>Offline, access to your personal information is restricted to employees who require it to perform their duties.
        The servers and computers storing personally identifiable information are maintained in a secure
        environment.</p>

    <p>Use of Cookies</p>

    <p>Our App employs “cookies” to enhance your experience by saving your preferences and tracking user trends. These
        cookies are not linked to any personally identifiable information.</p>

    <p>External Links</p>

    <p>The Mepkin Abbey App may contain links to other websites. We caution that we are not responsible for the content
        or privacy practices of other sites and encourage you to read their privacy statements.</p>

    <p>Surveys & Contests</p>

    <p>Occasionally, our App may request information via surveys or contests. Participation is voluntary, and you have
        the choice to participate and disclose information. Information collected may be used to contact winners, award
        prizes, or improve user experience.</p>

    <p>Information Sharing</p>

    <p>Aggregated demographic information not linked to any personal information may be shared with partners and
        advertisers. For fulfilling orders, we might use external shipping companies and credit card processing firms,
        which will not retain, share, or use your information for any secondary purposes.</p>

    <p>We may collaborate with third parties to provide specific services. Upon signing up for these services,
        necessary contact information will be shared with the third party solely for the purpose of delivering these
        services.</p>

    <p>Concerns</p>

    <p>Should you have any concerns regarding our privacy practices, please contact us immediately. We are dedicated to
        ensuring the privacy and security of your information and strive to promptly address any issues.</p>

</div>
<br>
<br>
<br>

<script>
    function updateVisitorCount() {
        fetch('/live-visitor-count/')
            .then(response => response.json())
            .then(data => {
                document.getElementById('liveCount').innerText = data.count;
            });
    }

    // Update the count every 5 seconds (adjust as needed)
    setInterval(updateVisitorCount, 5000);

    // Initial update
    updateVisitorCount();
</script>


{% include 'navbar.html' %}
{% endblock %}
