{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container my-4">
    <h1 class="mb-4">Fr. Francis' Art Gallery</h1>

    <div class="row justify-content-around">
        {% for artwork in artworks %}
        <div class="col-3">
            <div class="card">
                <a href="{{ artwork.img.url }}" target="_blank">
                    <img class="card-img-top" src="{{ artwork.img.url }}" height="250rem" alt="{{ artwork.title }}">
                </a>
                <div class="card-body">
                    <h6 class="card-title text-center">{{ artwork.title }}</h6>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% include 'navbar.html' %}
{% endblock %}