{% extends 'base.html' %}
{% block content %}

<div class="bg-secondary text-white">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center py-2">
            <h1>The Brothers</h1>
            <img src="../media/MEPKING/logo.png" height="75rem" alt="">
        </div>
    </div>
</div>

<div class="container mt-3">
    <p>
        Mepkin Abbey is a community of Roman Catholic monks belonging to the world-wide Order of Cistercians of the
        Strict Observance popularly known as Trappist.
    </p>

    <div class="row row-cols-1 row-cols-md-3 g-3">
        <div class="col">
            <a href="/who-we-are/" class="text-decoration-none">
                <div class="card border-0">
                    <img src="../media/MEPKING/monks.png"
                         class="card-img rounded-3" alt="..." style="height: 15rem; object-fit: cover;">
                    <div class="card-img-overlay">
                        <h6 class="card-text fw-bold position-absolute bottom-0 mb-2 p-2" style="color: #fff; background-color: rgba(0, 0, 0, 0.6)">
                            Who We Are
                        </h6>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="/daily-life/" class="text-decoration-none">
                <div class="card border-0">
                    <img src="../media/MEPKING/daily-life.png"
                         class="card-img rounded-3" alt="..." style="height: 15rem; object-fit: cover;">
                    <div class="card-img-overlay">
                        <h6 class="card-text fw-bold position-absolute bottom-0 mb-2 p-2" style="color: #fff; background-color: rgba(0, 0, 0, 0.6)">
                            Our Daily Life
                        </h6>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="/pray-with-us/" class="text-decoration-none">
                <div class="card border-0">
                    <img src="../media/MEPKING/g4.png"
                         class="card-img rounded-3" alt="..." style="height: 15rem; object-fit: cover;">
                    <div class="card-img-overlay">
                        <h6 class="card-text fw-bold position-absolute bottom-0 mb-2 p-2" style="color: #fff; background-color: rgba(0, 0, 0, 0.6)">
                            Pray With US
                        </h6>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<br>
{% include 'navbar.html' %}
{% endblock %}