{% extends 'base.html' %}
{% block content %}

<div class="bg-secondary text-white">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center py-2">
            <h1>The Brothers</h1>
            <img src="../media/MEPKING/logo2.png" height="75rem" alt="">
        </div>
    </div>
</div>

<div class="container mt-3">
    <p>
        Mepkin Abbey is a community of Roman Catholic monks belonging to the world-wide Order of Cistercians of the
        Strict Observance popularly known as Trappist.
    </p>

    <div class="row row-cols-1 row-cols-md-3 g-3">
        <div class="col">
            <a href="/who-we-are/" class="text-decoration-none">
                <div class="card border-0">
                    <img src="{% if image.who_we_are %}{{image.who_we_are.url}}{% else %}../media/MEPKING/monks.png{% endif %}"
                         class="card-img rounded-3" alt="..." style="height: 15rem; object-fit: cover;">
                    <div class="card-img-overlay">
                        <h5 class="card-text fw-bold position-absolute bottom-0 mb-3" style="color: #fff;">
                            Who We Are
                        </h5>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="/daily-life/" class="text-decoration-none">
                <div class="card border-0">
                    <img src="{% if image.our_daily_life %}{{image.our_daily_life.url}}{% else %}../media/MEPKING/daily-life.png{% endif %}"
                         class="card-img rounded-3" alt="..." style="height: 15rem; object-fit: cover;">
                    <div class="card-img-overlay">
                        <h5 class="card-text fw-bold position-absolute bottom-0 mb-3" style="color: #fff;">
                            Our Daily Life
                        </h5>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="/vocation/" class="text-decoration-none">
                <div class="card border-0">
                    <img src="{% if image.vocation %}{{image.vocation.url}}{% else %}../media/MEPKING/vocation.png{% endif %}"
                         class="card-img rounded-3" alt="..." style="height: 15rem; object-fit: cover;">
                    <div class="card-img-overlay">
                        <h5 class="card-text fw-bold position-absolute bottom-0 mb-3" style="color: #fff;">
                            Vocation
                        </h5>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="/pray-with-us/" class="text-decoration-none">
                <div class="card border-0">
                    <img src="{% if image.pray_with_us %}{{image.pray_with_us.url}}{% else %}../media/MEPKING/g4.png{% endif %}"
                         class="card-img rounded-3" alt="..." style="height: 15rem; object-fit: cover;">
                    <div class="card-img-overlay">
                        <h5 class="card-text fw-bold position-absolute bottom-0 mb-3" style="color: #fff;">
                            Pray With US
                        </h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<br>
{% include 'navbar.html' %}
{% endblock %}