{% extends 'base.html' %}
{% block content %}

<div class="container my-4">
    <h1 class="mb-4">Our Daily Life</h1>
    <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-item-action">
            <a href="https://mepkinabbey.org/our-daily-life/" target="_blank"
               class="text-decoration-none"><span>&#8226;</span> Horarium: Daily Schedule</a>
        </li>
        <li class="list-group-item list-group-item-action">
            <a href="https://ibreviary.com/m/breviario.php" target="_blank"
               class="text-decoration-none"><span>&#8226;</span> Liturgy of the Hours</a>
        </li>
        <li class="list-group-item list-group-item-action">
            <a href="https://mepkinabbey.org/work/" target="_blank" class="text-decoration-none"><span>&#8226;</span>
                Our Work</a>
        </li>
    </ul>
</div>

{% include 'navbar.html' %}
{% endblock %}