{% extends 'base.html' %}
{% block content %}
{% load static %}

<style>
  /* Added CSS for the loading screen */
  #loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Make sure the loading screen is on top of everything */
  }

</style>

<!-- Loading screen -->
<div id="loading-screen" style="height: 100%;">
    <img src="{% static 'MEPKING/logo.gif' %}" alt="Loading..." style="max-width: 400px;">
    <button id="skip-button" class="btn btn-sm btn-secondary px-3" style="position: absolute; top: 10px; right: 10px; display: none;" onclick="skipLoading()">SKIP</button>
</div>

<!--Main content-->
<div id="main-content" class="container d-flex flex-column justify-content-center align-items-center gap-2"
     style="height: 100%; opacity: 0; transition: opacity 1s ease-in-out;">
    <div class="card mb-3" style="width: 20rem;">
        <img src="{% static 'francis-artwork/' %}{{ today_image_path }}" class="card-img-top" alt="...">
        <div class="card-body text-center">
            <div class="card-title">
                  Daily Wisdom Art
                <br class="mt-5">
                <span class="mt-5">{{ today_date }}</span>
                <br>
                Growing Hope
            </div>
        </div>
        <div class="card-footer text-center">
            <a href="{% url 'mepkin-daily-word' %}" class="text-decoration-none text-success">Proceed</a>
        </div>
    </div>
</div>

<script>
function skipLoading() {
    document.getElementById("loading-screen").style.display = "none";
    document.getElementById("main-content").style.opacity = "1";
}

document.addEventListener("DOMContentLoaded", function() {
    setTimeout(function() {
        document.getElementById("loading-screen").style.display = "none";
        document.getElementById("main-content").style.opacity = "1";
    }, 32000); // 32 seconds

    setTimeout(function() {
        document.getElementById("skip-button").style.display = "block";
    }, 5000); // Show skip button after 1 second
});
</script>
{% endblock %}
