{% extends 'base.html' %}
{% block content %}

<div class="bg-secondary text-white">
    <div class="container py-4">
        <h1>The Gardens</h1>
    </div>
</div>

<div class="container mt-4">
    <p>
        Situated along the Cooper River, Mepkin's gardens are home to many species of plants and flowers and places
        of both spiritual and historical significance.
    </p>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <a href="/virtual-tour-page/" class="text-decoration-none">
                <div class="card text-center">
                    <img src="{% if image.virtual_tour %}{{image.virtual_tour.url}}{% else %}../media/MEPKING/g3.png{% endif %}"
                         class="card-img-top" alt="Virtual Tour Image">
                    <div class="card-body">
                        <h5 class="card-title">Virtual Tour</h5>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="https://mepkinabbey.org/gardens-scenery/" target="_blank" class="text-decoration-none">
                <div class="card text-center">
                    <img src="{% if image.the_gardens_and_scenery %}{{image.the_gardens_and_scenery.url}}{% else %}../media/MEPKING/g4.png{% endif %}"
                         class="card-img-top" alt="Gardens & Scenery Image">
                    <div class="card-body">
                        <h5 class="card-title">The Gardens & Scenery</h5>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="https://mepkinabbey.org/gardens-scenery/" target="_blank" class="text-decoration-none">
                <div class="card text-center">
                    <img src="{% if image.meditation_garden %}{{image.meditation_garden.url}}{% else %}../media/MEPKING/carving05-705x529.jpg{% endif %}"
                         class="card-img-top" alt="Meditation Garden Image">
                    <div class="card-body">
                        <h5 class="card-title">Meditation Garden of Truth & Reconciliation</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

{% include 'navbar.html' %}
{% endblock %}
