{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="d-flex flex-column" style="height: 100vh;">
    <img src="{% static 'MEPKING/oak-allee4.jpeg' %}"
         class="img-fluid" style="height: 60%; object-fit: cover;" alt="">
    <div class="text-center">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-success my-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Get Started!
        </button>
        <h3 class="mx-3">We share our spiritual journey and contemplative life, sacred and serene.</h3>
        <h3>With all seekers...</h3>
        <img src="{% static 'MEPKING/logo.png' %}" class="img-fluid mx-auto d-block mt-3" style="max-width: 12rem;"
             alt="">
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content"
             style="background-image: url('{% static 'MEPKING/Block of Get Started.jpg' %}'); background-size: cover;">
            <div class="modal-body text-center text-white">
                <h1 class="my-5">Are you currently on site visiting Mepkin?</h1>
                <div class="my-5">
                    If YES, <a href="{% url 'virtual-tour' %}" class="btn btn-secondary">Click Here</a> to join us on a
                    self-guided tour of the grounds
                </div>
                <div class="my-5">
                    If NO, <a href="{% url 'home' %}" class="btn btn-secondary">Click Here</a> to find out general
                    information
                    about MEPKIN
                </div>
                <img src="{% static 'MEPKING/logo.png' %}" class="img-fluid" style="max-width: 10rem;" alt="">
            </div>
        </div>
    </div>
</div>

{% include 'feedbackForm.html' %}
{% endblock %}