{% extends 'base.html' %}
{% block content %}

<div class="d-flex flex-column" style="height: 100vh;">
    <img src="{% if image.index %}{{image.index.url}}{% else %}../media/MEPKING/monastry.png{% endif %}" class="img-fluid" style="height: 60%; object-fit: cover;" alt="">
    <div class="text-center">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary my-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Get Started!
        </button>
        <h3 class="mx-3">We share our spiritual journey and communal lives with all seekers...</h3>
        <img src="../media/MEPKING/logo.png" class="img-fluid mx-auto d-block mt-3" style="max-width: 12rem;" alt="">
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content" style="background-color: rgba(165, 131, 88, 0.96);">
            <div class="modal-body text-center text-white">
                <h1 class="my-5">Are you currently on site visiting Mepkin?</h1>
                <div class="my-5">
                    If YES, <a href="/grounds-tour/" class="btn btn-info">Click Here</a> to join us on a self-guided
                    tour of the grounds
                </div>
                <div class="my-5">
                    If NO, <a href="/home/" class="btn btn-info">Click Here</a> to find out general information about
                    MEPKIN
                </div>
                <img src="../media/MEPKING/logo.png" class="img-fluid" style="max-width: 10rem;" alt="">
            </div>
        </div>
    </div>
</div>

{% endblock %}