{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container my-4">

    <!-- Add your image here -->
    <div class="card border-0 rounded-3 mb-3">
        <img src="{% static 'virtual-tour-images/LaurensCemetery.jpg' %}" class="card-img"
             style="height: 20rem; object-fit: cover;" alt="...">
    </div>

    <h1 class="mb-4">
                <span class="me-4">
                    <a href="{% url 'virtual-tour' %}" class="text-decoration-none text-dark">
                        <i class="fa-solid fa-arrow-left"></i>
                    </a>
                </span>
        John Laurens Grave / Cemetery
    </h1>

    <!-- Audio player with spacing -->
    <div class="d-flex justify-content-center align-items-center gap-1 mb-3">
        <h5 class="fw-bold">Listen to Tour Audio:</h5>
        <audio controls>
            <source src="{% static 'audio/Laurens Cemetery.mp3' %}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </div>

    <p>John Laurens, an American soldier and statesman during the Revolutionary War, is laid to rest in the Mepkin Abbey
        Monastic Cemetery in Moncks Corner, Berkeley County, South Carolina. His grave is an integral part of the rich
        historical tapestry of Mepkin Abbey, underscoring the site's deep connection to American history.</p>

    <!-- Google Map and Street View -->
    <h2 class="mt-4">Location</h2>
    <div id="map" style="width: 100%; height: 400px;"></div>

</div>


<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 33.115200817339165, lng: -79.9444384477732 },
            zoom: 17,
        });

        var markerPosition = { lat: 33.117393, lng: -79.956961 };

        var marker = new google.maps.Marker({
            position: markerPosition,
            map: map,
            title: 'John Laurens Grave / Cemetery',
        });

        var panorama = new google.maps.StreetViewPanorama(document.getElementById('map'), {
            position: markerPosition,
            pov: {
                heading: 0,
                pitch: 0,
            },
        });

        // Set the Street View panorama as the default panorama for the map
        map.setStreetView(panorama);
    }

    initMap();

</script>

<br>
{% include 'navbar.html' %}
{% endblock %}