{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container my-4">

    <!-- Add your image here -->
    <div class="card border-0 rounded-3 mb-3">
        <img src="{% static 'virtual-tour-images/Labyrinth.jpeg' %}" class="card-img"
             style="height: 20rem; object-fit: cover;" alt="...">
    </div>

    <h1 class="mb-4">
                <span class="me-4">
                    <a href="{% url 'virtual-tour' %}" class="text-decoration-none text-dark">
                        <i class="fa-solid fa-arrow-left"></i>
                    </a>
                </span>
        Labyrinth
    </h1>

    <!-- Audio player with spacing -->
    <div class="d-flex justify-content-center align-items-center gap-1 mb-3">
        <h5 class="fw-bold">Listen to Tour Audio:</h5>
        <audio controls>
            <source src="{% static 'audio/Labyrinth.mp3' %}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </div>

    <p>The Labyrinth Walk at Mepkin Abbey in Moncks Corner, South Carolina, offers a unique and profound spiritual
        experience. It serves as a space for contemplation and communion with nature, inviting visitors to embark on a
        personal journey of reflection and discovery. As eloquently described by a previous visitor, walking the
        labyrinth is a transformative experience, fostering a profound sense of mindfulness and a profound connection
        with the natural world. This setting provides a precious opportunity for individuals to engage in contemplative
        prayer and find inner peace amidst the enchanting beauty of the abbey's grounds.</p>

    <!-- Google Map and Street View -->
    <h2 class="mt-4">Location</h2>
    <div id="map" style="width: 100%; height: 400px;"></div>

</div>


<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 33.115200817339165, lng: -79.9444384477732 },
            zoom: 17,
        });

        var markerPosition = { lat: 33.117415, lng: -79.950553 };

        var marker = new google.maps.Marker({
            position: markerPosition,
            map: map,
            title: 'Labyrinth',
        });

        var panorama = new google.maps.StreetViewPanorama(document.getElementById('map'), {
            position: markerPosition,
            pov: {
                heading: 0,
                pitch: 0,
            },
        });

        // Set the Street View panorama as the default panorama for the map
        map.setStreetView(panorama);
    }

    initMap();

</script>

<br>
{% include 'navbar.html' %}
{% endblock %}