{% extends 'base.html' %}
{% block content %}

<div class="container my-4">
    <h1 class="mb-4">Lauren's Cemetry</h1>
    <p class="mb-4">
        {% if text.lauren_cemetry %}
        {{text.lauren_cemetry}}
        {% else %}
        In 18th century Mepkin was the pricipal home of rice planter, slave trader, and Charleston merchant Henry
        Laurens(1724-1792). Laurens imported tens of thousands enslaved people from Bunch Island, located in Sierra
        Leone River, to the South Carolina Lowcountry. The business made him one of the richest men in American before
        the Revolutionary War.
        <br>
        <br>
        He was elected to South Carolina's Provincial Congress in 1775, became the Vice...
        {% endif %}
    </p>
</div>

{% include 'navbar.html' %}
{% endblock %}