{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="bg-secondary text-white">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center py-2">
            <h1>
                <span class="me-4">
                    <a href="{% url 'pray' %}" class="text-decoration-none text-white">
                        <i class="fa-solid fa-arrow-left"></i>
                    </a>
                </span>
                List of Prayers
            </h1>
            <img src="{% static 'MEPKING/logo.png' %}" height="75rem" alt="">
        </div>
    </div>
</div>

<div class="container d-flex flex-column justify-content-center align-items-center gap-2" style="height: 100%;">
    <a href="{% url 'prayer-request' %}" class="btn btn-light btn-lg">
        Prayer Request
    </a>
    <a href="{% url 'gratitude-prayer' %}" class="btn btn-light btn-lg">
        Gratitude Prayer
    </a>
</div>
{% include 'navbar.html' %}
{% endblock %}