{% extends 'base.html' %}
{% block content %}
{% load static %}

<style>
      #sideButton {
      position: fixed;
      bottom: 1rem; /* Adjust this value as needed */
      right: 1rem; /* Adjust this value as needed */
      background-color: #3498db; /* Blue color */
      color: #fff;
      font-size: 15px;
      padding: 5px;
      border: 2px solid #2980b9; /* Border color */
      cursor: pointer;
      border-radius: 5px;
      text-decoration: none;
    }

    #sideButton:hover {
      background-color: #2980b9; /* Darker blue color on hover */
    }
</style>

<div class="container mt-3">
    {% if message %}
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </symbol>
        <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
        </symbol>
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </symbol>
    </svg>

    <div class="alert alert-danger d-flex align-items-center alert-dismissible fade show"
         role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close"></button>
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img"
             aria-label="Danger:">
            <use xlink:href="#exclamation-triangle-fill"/>
        </svg>
        <div>
            {{ message }}
        </div>
    </div>
    {% endif %}
    <div class="card border-0 rounded-3 mb-3 position-relative" style="height: 20rem;">
        <img src="{% static 'MEPKING/9.jpeg' %}" class="card-img" style="height: 100%; object-fit: cover;" alt="...">

        <div class="position-absolute bottom-0 start-50 translate-middle-x" style="margin-bottom: -4rem;">
            <img src="{% static 'MEPKING/Homilies.jpg' %}" class="rounded-circle" alt="Profile Image"
                 style="width: 8rem; height: 8rem; border: 4px solid #FFF2E0C8;">
        </div>
    </div>

    <!--    <h5 class="fw-bold text-center" style="margin-top: 4.5rem;">Mepkin Daily Word</h5>-->
    <div class="h5 fw-bold text-center" style="margin-top: 4.5rem;">
        <a href="#" class="text-decoration-none text-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">Mepkin
            Daily Word</a>
    </div>
    <p class="text-center" style="font-family: 'Times New Roman', Times, serif; font-style: italic;">{{ bio.content }}</p>

    <h6 class="fw-bold text-center py-1" style="background-color: #AC9362;">Daily Word</h6>

    <div class="list-group" style="font-size: 0.8rem;">
        {% for mepkin_daily_word in mepkin_daily_words %}
        <div class="list-group-item">
            <div class="d-flex justify-content-between">
                <div class="d-flex">
                    <div class="flex-shrink-0">
                        <img src="{% static 'MEPKING/Homilies.jpg' %}" class="rounded-circle" alt="Profile Image"
                             style="width: 2.5rem; height: 2.5rem;">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        {% if forloop.first %}
                        <h4 class="fw-bold mb-1">Mepkin Daily Word</h4>
                        {% else %}
                        <h6 class="fw-bold mb-1">Mepkin Daily Word</h6>
                        {% endif %}
                        <p class="mb-1 {% if forloop.first %}d-5 fw-bold{% endif %}" style="text-align: justify;">{{ mepkin_daily_word.post }}</p>
                    </div>
                </div>
                <div class="text-muted {% if forloop.first %}fw-bold{% endif %}" style="white-space: nowrap;">
                    {{ mepkin_daily_word.created|date:"M d" }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Administrator Login</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-floating mb-3">
                            <input type="text" name="username" class="form-control form-control-sm" id="floatingInput"
                                   placeholder="Username">
                            <label for="floatingInput">Username</label>
                        </div>
                        <div class="form-floating">
                            <input type="password" name="password" class="form-control" id="floatingPassword"
                                   placeholder="Password">
                            <label for="floatingPassword">Password</label>
                        </div>
                        <div class="d-grid mt-3">
                            <button class="btn btn-secondary" type="submit">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <a href="{% url 'index' %}" id="sideButton">Click here to proceed</a>
</div>

<br>
{% endblock %}