<nav class="navbar fixed-bottom bg-white" style="z-index: 10000;">
    <div class="container-fluid d-flex justify-content-around align-items-center">
        <a href="{% url 'home' %}"
           class="d-flex flex-column justify-content-center align-items-center text-decoration-none">
            <i class="fa-solid fa-house"></i>
            <span>HOME</span>
        </a>
        <a href="https://mepkinabbey.org/donate/"
           class="d-flex flex-column justify-content-center align-items-center text-decoration-none" target="_blank">
            <i class="fa-solid fa-heart"></i>
            <span>SUPPORT</span>
        </a>
        <a href="https://mepkinabbey.org/"
           class="d-flex flex-column justify-content-center align-items-center text-decoration-none" target="_blank">
            <i class="fa-solid fa-globe"></i>
            <span>WEBSITE</span>
        </a>
        <a href="https://mepkinabbey.org/news/"
           class="d-flex flex-column justify-content-center align-items-center text-decoration-none" target="_blank">
            <i class="fa-solid fa-message"></i>
            <span>CONNECT</span>
        </a>
    </div>
</nav>