{% extends 'base.html' %}
{% block content %}

<div class="container my-4">
    <h1 class="mb-4">Pray With Us</h1>
    <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-item-action">
            <a href="#" target="_blank" class="text-decoration-none"><span>&#8226;</span>
                Streaming Service</a>
        </li>
        <li class="list-group-item list-group-item-action">
            <a href="https://mepkinabbey.org/vigil-readings/" target="_blank" class="text-decoration-none"><span>&#8226;</span>
                Vigil Readings</a>
        </li>
        <li class="list-group-item list-group-item-action">
            <a href="https://mepkinabbey.org/homilies/" target="_blank" class="text-decoration-none"><span>&#8226;</span>
                Homilies</a>
        </li>
    </ul>
</div>

{% include 'navbar.html' %}
{% endblock %}