{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="bg-secondary text-white">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center py-2">
            <h1>
                <span class="me-4">
                    <a href="{% url 'list-of-prayers' %}" class="text-decoration-none text-white">
                        <i class="fa-solid fa-arrow-left"></i>
                    </a>
                </span>
                Prayer Request
            </h1>
            <img src="{% static 'MEPKING/logo.png' %}" height="75rem" alt="">
        </div>
    </div>
</div>

<div class="container mt-3">

    <div class="mx-auto table-responsive">
        <table class="table table-hover">
            <thead class="table-light">
            <tr>
                <th scope="col">NAME/PSEUDONYN</th>
                <th scope="col">DATE & TIME</th>
                <th scope="col">PRAYER REQUEST</th>
            </tr>
            </thead>
            <tbody>
            {% for prayer in list_of_prayers %}
            {% if prayer.type == "Prayer Request" %}
            <tr>
                <td>{{prayer.name}}</td>
                <td>{{prayer.created}}</td>
                <td>{{prayer.prayer_msg}}</td>
            </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<br>
<br>
<br>
{% include 'navbar.html' %}
{% endblock %}
