{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="bg-secondary text-white sticky-top">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center py-2">
            <h1>
                <span class="me-4">
                    <a href="#" onclick="history.back()" class="text-decoration-none text-white">
                        <i class="fa-solid fa-arrow-left"></i>
                    </a>
                </span>
                St. Francis Retreat Center
            </h1>
            <img src="{% static 'MEPKING/logo.png' %}" height="75rem" alt="">
        </div>
    </div>
</div>

<div class="container mt-3">
    <p>
        St. Francis Retreat Center provides an atmosphere of respite and solitude for those who care to share in our
        prayer life, menu, and the landscape of the monastery. <a class="text-decoration-none"
                href="https://forms.gle/LD6rxyKpuVjJU7uu9" target="_blank">Book a retreat</a>.
    </p>

    <div class="ratio ratio-21x9">
        <iframe src="https://www.youtube.com/embed/zp_vmecwmxI" title="YouTube video" allowfullscreen></iframe>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-3 justify-content-center mt-2">
        <div class="col">
            <a href="https://youtu.be/zp_vmecwmxI" target="_blank" class="text-decoration-none">
                <div class="card border-0">
                    <img src="{% static 'MEPKING/g3.png' %}"
                         class="card-img rounded-3" alt="..." style="height: 15rem; object-fit: cover;">
                    <div class="card-img-overlay">
                        <h6 class="card-text fw-bold position-absolute bottom-0 mb-2 p-2" style="color: #fff; background-color: rgba(0, 0, 0, 0.6)">
                            Watch Video
                        </h6>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="https://mepkinabbey.org/retreat-center-news/" target="_blank" class="text-decoration-none">
                <div class="card border-0">
                    <img src="{% static 'MEPKING/center.png' %}"
                         class="card-img rounded-3" alt="..." style="height: 15rem; object-fit: cover;">
                    <div class="card-img-overlay">
                        <h6 class="card-text fw-bold position-absolute bottom-0 mb-2 p-2" style="color: #fff; background-color: rgba(0, 0, 0, 0.6)">
                            About the Center
                        </h6>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<br>
<br>
<br>
{% include 'navbar.html' %}
{% endblock %}
