{% extends 'base.html' %}
{% block content %}

<div class="container my-4">
    <h1 class="mb-4">Support</h1>
    <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-item-action">
            <a href="https://mepkinabbey.org/donate/" target="_blank" class="text-decoration-none"><span>&#8226;</span>
                Donate</a>
        </li>
        <li class="list-group-item list-group-item-action">
            <a href="https://mepkinabbey.org/volunteer-opportunities/" target="_blank" class="text-decoration-none"><span>&#8226;</span>
                Volunteer</a>
        </li>
    </ul>
</div>

{% include 'navbar.html' %}
{% endblock %}