{% extends 'base.html' %}
{% block content %}

<div class="container my-4">
    <h1 class="mb-4">Vacations</h1>
    <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-item-action">
            <a href="https://mepkinabbey.org/mepkin-affiliate-program/" target="_blank" class="text-decoration-none"><span>&#8226;</span>
                Be A Monk for a Day or a Year</a>
        </li>
        <li class="list-group-item list-group-item-action">
            <a href="https://mepkinabbey.org/becoming-a-monk/requirements/" target="_blank" class="text-decoration-none"><span>&#8226;</span>
                Basic Requirements</a>
        </li>
        <li class="list-group-item list-group-item-action">
            <a href="https://mepkinabbey.org/becoming-a-monk/consider/" target="_blank" class="text-decoration-none"><span>&#8226;</span>
                Things to Consider</a>
        </li>
    </ul>
</div>

{% include 'navbar.html' %}
{% endblock %}