{% extends 'base.html' %}
{% block content %}
{% load static %}

<style>

    .mepkinmap {
        width: 100%;
        position: relative;
        overflow: hidden; /* Ensure pins stay within the container */
        border-radius: 20px;
    }

    .mepkinmap img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    .title {
        text-align: center;
        color: #fff;
        margin: 2em 0;
        padding: 0 1em;
    }

    .title p {
        max-width: 500px;
        margin: 1em auto;
        line-height: 27px;
    }

    .pin {
        background: #4362f8;
        position: absolute;
        width: 0.7em;
        height: 0.7em;
        border-radius: 50%;
        transform: translate(-50%, -50%);
    }

    .pin.Gold:before {
        content: '';
        background: #FFD700;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        border-radius: 50%;
        animation: pulse 1.3s ease-in-out infinite;
    }



    .pin.Blue:before {
        background: #3380FF; /* Blue color - spiritual */
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        border-radius: 50%;
        animation: pulse 1.3s ease-in-out infinite;
    }

    .pin.Green:before {
        background: #33FF57; /* Green color - historical and spiritual */
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        border-radius: 50%;
        animation: pulse 1.3s ease-in-out infinite;
    }

    .pin.Red:before {
        background: #FF5733; /* Red color - general */
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        border-radius: 50%;
        animation: pulse 1.3s ease-in-out infinite;
    }

    .pin span {
        display: inline-block;
        white-space: nowrap;
        position: absolute;
        left: 1.7em;
        top: 50%;
        transform: translateY(-50%);
        background: #fff;
        border-radius: 10px; /* Adjust border-radius for curved corners */
        padding: 0.3em 0.6em;
        font-size: 5px;
        max-width: 150px; /* Adjust the maximum width as needed */
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        text-align: center;
        line-height: 1.2;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
        text-transform: uppercase;
    }

    .LuceGardens {
        top: 38%;
        left: 33%;
    }

    .AbbeyChurch {
        top: 83%;
        left: 43%;
    }

    .StClareWalkway {
        top: 58%;
        left: 55%;
    }

    .ReceptionCenterGiftShop {
        top: 55.2%;
        left: 61.5%;
    }

    .MemorialGarden {
        top: 58%;
        left: 68%;
    }

    .FiremansMemorial {
        top: 34.3%;
        left: 78.9%;
    }

    .Labyrinth {
        top: 26%;
        left: 68.5%;
    }

    .CrossroadsSacredHeart {
        top: 29%;
        left: 55%;
    }


    .MepkinAbbeyColumbarium {
        top: 43%;
        left: 12%;
    }

    .JohnLaurensGraveCemetery {
        top: 31%;
        left: 5%;
    }

    .MeditationGarden {
        top: 27%;
        left: 15%;
    }

    .AfricanAmericanCemetery {
        top: 90.3%;
        left: 78.8%;
    }

    .OfficesPrivateRooms {
        top: 80%;
        left: 52.2%;
    }

    .FlighttoEgyptCrucifixion {
        top: 32.5%;
        left: 21%;
    }

</style>

<div class="bg-secondary text-white">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center py-3">
            <h1>
                <span class="me-4">
                    <a href="{% url 'home' %}" class="text-decoration-none text-white">
                        <i class="fa-solid fa-arrow-left"></i>
                    </a>
                </span>
                Virtual Tour
            </h1>
            <a href="{% url 'grounds-tour-map' %}">
                <i class="fa-solid fa-map-location-dot fa-xl"></i>
            </a>
        </div>
    </div>
</div>

<div class="container mt-3">
    <p>
        Mepkin Abbey is a community of Roman Catholic monks belonging to the world-wide Order of Cistercians of the
        Strict Observance popularly known as Trappist.
    </p>

    <div class="mepkinmap">
        <img src="{% static 'MEPKING/Mepkin Abbey Map.png' %}" alt="...">

        <div class="pin Blue AbbeyChurch" onclick="window.location.href='{% url 'mepkin-abbey-church' %}';">
            <span>Mepkin Abbey Church</span>
        </div>

        <div class="pin Gold StClareWalkway" onclick="window.location.href='{% url 'st-claire-walkway' %}';">
            <span>St. Claire Walkway</span>
        </div>

        <div class="pin Red ReceptionCenterGiftShop"
             onclick="window.location.href='{% url 'reception-center-or-gift-shop' %}';">
            <span>Reception Center / Gift Shop</span>
        </div>

        <div class="pin Spiritual MemorialGarden" onclick="window.location.href='{% url 'memorial-garden' %}';">
            <span>Memorial Garden</span>
        </div>

        <div class="pin Green FiremansMemorial"
             onclick="window.location.href='{% url 'charleston-firefighters-memorial' %}';">
            <span>Charleston Firefighters Memorial</span>
        </div>

        <div class="pin Blue Labyrinth" onclick="window.location.href='{% url 'labyrinth' %}';">
            <span>Labyrinth</span>
        </div>

        <div class="pin Blue CrossroadsSacredHeart"
             onclick="window.location.href='{% url 'crossroads-or-sacred-heart-of-jesus-statue' %}';">
            <span>Crossroads / Sacred Heart of Jesus Statue</span>
        </div>

        <div class="pin Gold LuceGardens" onclick="window.location.href='{% url 'luce-gardens' %}';">
            <span>Luce Gardens</span>
        </div>

        <div class="pin Blue MepkinAbbeyColumbarium"
             onclick="window.location.href='{% url 'mepkin-abbey-columbarium' %}';">
            <span>Mepkin Abbey Columbarium</span>
        </div>

        <div class="pin Green JohnLaurensGraveCemetery"
             onclick="window.location.href='{% url 'john-laurens-grave-or-cemetery' %}';">
            <span>Laurens Cemetery</span>
        </div>

        <div class="pin Green MeditationGarden"
             onclick="window.location.href='{% url 'meditation-garden-of-truth-and-reconciliation' %}';">
            <span>Meditation Garden of Truth & Reconciliation</span>
        </div>

        <div class="pin Gold AfricanAmericanCemetery"
             onclick="window.location.href='{% url 'african-american-cemetery' %}';">
            <span>African-American Cemetery</span>
        </div>

        <div class="pin Red OfficesPrivateRooms"
             onclick="window.location.href='{% url 'offices-and-private-rooms' %}';">
            <span>Offices and Private Rooms</span>
        </div>

        <div class="pin Blue FlighttoEgyptCrucifixion" onclick="window.location.href='#';">
            <span>The Flight to Egypt Crucifixion</span>
        </div>
    </div>

    <ul class="my-3">
        <li class="my-1">For the <span class="fw-bold">Historical Sites</span> click on the <span
                style="background-color: #FFD700;">Gold</span> pin
        </li>
        <li class="my-1">For the <span class="fw-bold">Spiritual Sites</span> click on the <span
                style="background-color: #0000FF;">Blue</span> pin
        </li>
        <li class="my-1">For the <span class="fw-bold">Historical and Spiritual Sites</span> click on the <span
                style="background-color: #00FF00;">Green</span> pin
        </li>
        <li class="my-1">For the <span class="fw-bold">General</span> click on the <span
                style="background-color: #FF0000;">Red</span> pin
        </li>
    </ul>

    <div class="col">
        <a href="{% url 'luce-gardens' %}" class="text-decoration-none">
            <div class="card border-0">
                <img src="{% static 'virtual-tour-images/LuceCemetery.jpeg' %}"
                     class="card-img rounded-3" alt="..." style="height: 15rem; object-fit: cover;">
                <div class="card-img-overlay">
                    <h6 class="card-text fw-bold position-absolute bottom-0 mb-2 p-2"
                        style="color: #fff; background-color: rgba(0, 0, 0, 0.6)">
                        Luce Gardens
                    </h6>
                </div>
            </div>
        </a>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-3 mt-1">
        <div class="col">
            <a href="{% url 'mepkin-abbey-church' %}" class="text-decoration-none">
                <div class="card border-0">
                    <img src="{% static 'virtual-tour-images/Mepkin Abbey Church.jpeg' %}"
                         class="card-img rounded-3" alt="..." style="height: 15rem; object-fit: cover;">
                    <div class="card-img-overlay">
                        <h6 class="card-text fw-bold position-absolute bottom-0 mb-2 p-2"
                            style="color: #fff; background-color: rgba(0, 0, 0, 0.6)">
                            Mepkin Abbey Church
                        </h6>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="{% url 'st-claire-walkway' %}" class="text-decoration-none">
                <div class="card border-0">
                    <img src="{% static 'virtual-tour-images/St. Clare Walkway.jpg' %}"
                         class="card-img rounded-3" alt="..." style="height: 15rem; object-fit: cover;">
                    <div class="card-img-overlay">
                        <h6 class="card-text fw-bold position-absolute bottom-0 mb-2 p-2"
                            style="color: #fff; background-color: rgba(0, 0, 0, 0.6)">
                            St. Clare Walkway
                        </h6>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="{% url 'reception-center-or-gift-shop' %}" class="text-decoration-none">
                <div class="card border-0">
                    <img src="{% static 'virtual-tour-images/Gift Shop.jpg' %}"
                         class="card-img rounded-3" alt="..." style="height: 15rem; object-fit: cover;">
                    <div class="card-img-overlay">
                        <h6 class="card-text fw-bold position-absolute bottom-0 mb-2 p-2"
                            style="color: #fff; background-color: rgba(0, 0, 0, 0.6)">
                            Reception Center / Gift Shop
                        </h6>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="{% url 'memorial-garden' %}" class="text-decoration-none">
                <div class="card border-0">
                    <img src="{% static 'virtual-tour-images/Memorial Garden.jpg' %}"
                         class="card-img rounded-3" alt="..." style="height: 15rem; object-fit: cover;">
                    <div class="card-img-overlay">
                        <h6 class="card-text fw-bold position-absolute bottom-0 mb-2 p-2"
                            style="color: #fff; background-color: rgba(0, 0, 0, 0.6)">
                            Memorial Garden
                        </h6>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="{% url 'charleston-firefighters-memorial' %}" class="text-decoration-none">
                <div class="card border-0">
                    <img src="{% static 'virtual-tour-images/Firemans Memorial.jpg' %}"
                         class="card-img rounded-3" alt="..." style="height: 15rem; object-fit: cover;">
                    <div class="card-img-overlay">
                        <h6 class="card-text fw-bold position-absolute bottom-0 mb-2 p-2"
                            style="color: #fff; background-color: rgba(0, 0, 0, 0.6)">
                            Charleston Firefighters Memorial
                        </h6>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="{% url 'labyrinth' %}" class="text-decoration-none">
                <div class="card border-0">
                    <img src="{% static 'virtual-tour-images/Labyrinth.jpeg' %}"
                         class="card-img rounded-3" alt="..." style="height: 15rem; object-fit: cover;">
                    <div class="card-img-overlay">
                        <h6 class="card-text fw-bold position-absolute bottom-0 mb-2 p-2"
                            style="color: #fff; background-color: rgba(0, 0, 0, 0.6)">
                            Labyrinth
                        </h6>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="{% url 'crossroads-or-sacred-heart-of-jesus-statue' %}" class="text-decoration-none">
                <div class="card border-0">
                    <img src="{% static 'virtual-tour-images/Sacred heart of Jesus.jpg' %}"
                         class="card-img rounded-3" alt="..." style="height: 15rem; object-fit: cover;">
                    <div class="card-img-overlay">
                        <h6 class="card-text fw-bold position-absolute bottom-0 mb-2 p-2"
                            style="color: #fff; background-color: rgba(0, 0, 0, 0.6)">
                            Crossroads / Sacred Heart of Jesus Statue
                        </h6>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="{% url 'mepkin-abbey-botanical-garden' %}" class="text-decoration-none">
                <div class="card border-0">
                    <img src="{% static 'virtual-tour-images/Botanical GArden.jpeg' %}"
                         class="card-img rounded-3" alt="..." style="height: 15rem; object-fit: cover;">
                    <div class="card-img-overlay">
                        <h6 class="card-text fw-bold position-absolute bottom-0 mb-2 p-2"
                            style="color: #fff; background-color: rgba(0, 0, 0, 0.6)">
                            Mepkin Abbey Botanical Garden
                        </h6>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="{% url 'mepkin-abbey-columbarium' %}" class="text-decoration-none">
                <div class="card border-0">
                    <img src="{% static 'virtual-tour-images/Comlumbarium.jpg' %}"
                         class="card-img rounded-3" alt="..." style="height: 15rem; object-fit: cover;">
                    <div class="card-img-overlay">
                        <h6 class="card-text fw-bold position-absolute bottom-0 mb-2 p-2"
                            style="color: #fff; background-color: rgba(0, 0, 0, 0.6)">
                            Mepkin Abbey Columbarium
                        </h6>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="{% url 'john-laurens-grave-or-cemetery' %}" class="text-decoration-none">
                <div class="card border-0">
                    <img src="{% static 'virtual-tour-images/LaurensCemetery.jpg' %}"
                         class="card-img rounded-3" alt="..." style="height: 15rem; object-fit: cover;">
                    <div class="card-img-overlay">
                        <h6 class="card-text fw-bold position-absolute bottom-0 mb-2 p-2"
                            style="color: #fff; background-color: rgba(0, 0, 0, 0.6)">
                            John Laurens Grave / Cemetery
                        </h6>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="{% url 'meditation-garden-of-truth-and-reconciliation' %}" class="text-decoration-none">
                <div class="card border-0">
                    <img src="{% static 'virtual-tour-images/Meditation Garden of Truth.jpeg' %}"
                         class="card-img rounded-3" alt="..." style="height: 15rem; object-fit: cover;">
                    <div class="card-img-overlay">
                        <h6 class="card-text fw-bold position-absolute bottom-0 mb-2 p-2"
                            style="color: #fff; background-color: rgba(0, 0, 0, 0.6)">
                            Meditation Garden of Truth & Reconciliation
                        </h6>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="{% url 'african-american-cemetery' %}" class="text-decoration-none">
                <div class="card border-0">
                    <img src="{% static 'virtual-tour-images/African American Cemetery.jpeg' %}"
                         class="card-img rounded-3" alt="..." style="height: 15rem; object-fit: cover;">
                    <div class="card-img-overlay">
                        <h6 class="card-text fw-bold position-absolute bottom-0 mb-2 p-2"
                            style="color: #fff; background-color: rgba(0, 0, 0, 0.6)">
                            African-American Cemetery
                        </h6>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="{% url 'offices-and-private-rooms' %}" class="text-decoration-none">
                <div class="card border-0">
                    <img src="{% static 'virtual-tour-images/Office and Private Rooms.jpeg' %}"
                         class="card-img rounded-3" alt="..." style="height: 15rem; object-fit: cover;">
                    <div class="card-img-overlay">
                        <h6 class="card-text fw-bold position-absolute bottom-0 mb-2 p-2"
                            style="color: #fff; background-color: rgba(0, 0, 0, 0.6)">
                            Offices and Private Rooms
                        </h6>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<br>
{% include 'navbar.html' %}
{% endblock %}