{% extends 'base.html' %}
{% block content %}

<div class="bg-secondary text-white">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center py-3">
            <h1>Virtual Tour</h1>
            <a href="/grounds-tour/">
                <i class="fa-solid fa-map-location-dot fa-xl"></i>
            </a>
        </div>
    </div>
</div>

<div class="container mt-3">
    <p>
        Mepkin Abbey is a community of Roman Catholic monks belonging to the world-wide Order of Cistercians of the
        Strict Observance popularly known as Trappist.
    </p>

    <div class="row row-cols-1 row-cols-md-3 g-3">
        <div class="col">
            <a href="/columbarium/" class="text-decoration-none">
                <div class="card border-0">
                    <img src="{% if image.the_gardens %}{{image.the_gardens.url}}{% else %}../media/MEPKING/g2.png{% endif %}"
                         class="card-img rounded-3" alt="..." style="height: 15rem; object-fit: cover;">
                    <div class="card-img-overlay">
                        <h5 class="card-text fw-bold position-absolute bottom-0 mb-3" style="color: #fff;">
                            Columbarium at Mepkin Abbey
                        </h5>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="/francis-artwork/" class="text-decoration-none">
                <div class="card border-0">
                    <img src="{% if image.francis_artwork %}{{image.francis_artwork.url}}{% else %}../media/MEPKING/brothers.png{% endif %}"
                         class="card-img rounded-3" alt="..." style="height: 15rem; object-fit: cover;">
                    <div class="card-img-overlay">
                        <h5 class="card-text fw-bold position-absolute bottom-0 mb-3" style="color: #fff;">
                            Fr. Francis' Artwork
                        </h5>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="/brothers/" class="text-decoration-none">
                <div class="card border-0">
                    <img src="{% if image.the_brothers %}{{image.the_brothers.url}}{% else %}../media/MEPKING/brothers.png{% endif %}"
                         class="card-img rounded-3" alt="..." style="height: 15rem; object-fit: cover;">
                    <div class="card-img-overlay">
                        <h5 class="card-text fw-bold position-absolute bottom-0 mb-3" style="color: #fff;">
                            The Brothers
                        </h5>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="/retreat-center/" class="text-decoration-none">
                <div class="card border-0">
                    <img src="{% if image.retreat_center %}{{image.retreat_center.url}}{% else %}../media/MEPKING/brothers.png{% endif %}"
                         class="card-img rounded-3" alt="..." style="height: 15rem; object-fit: cover;">
                    <div class="card-img-overlay">
                        <h5 class="card-text fw-bold position-absolute bottom-0 mb-3" style="color: #fff;">
                            Retreat Center
                        </h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

{% include 'navbar.html' %}
{% endblock %}