{% extends 'base.html' %}
{% block content %}

<style>
.home-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2vh;
}

.home-wrapper .linker {
    height: 30vh;
    width: 100%;
    position: relative;
}

.home-wrapper .linker img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    filter: brightness(100%);
    z-index: 1;
    height: 100%;
    object-fit: cover;
    margin: 10px 0;
}

.home-wrapper .linker .text {
    position: absolute;
    font-size: 19px;
    color: antiquewhite;
    background-color: rgba(0, 0, 0, 0.629);
    padding: .5rem;
    z-index: 10;
    bottom: 3%;
}
</style>

<div class="container my-4">
    <div class="d-flex justify-content-between">
        <h1 class="mb-4">Virtual Tour</h1>
        <a href="/grounds-tour/" class="mt-2">
            <i class="fa-solid fa-map-location-dot fa-xl"></i>
        </a>
    </div>
    <p>
        Mepkin Abbey is a community of Roman Catholic monks belonging to the world-wide Order of Cistercians of the
        Strict Observance popularly known as Trappist.
    </p>

    <div class="home-wrapper">
        <a href="/columbarium/" class="linker mt-2">
            <img src="{% if image.the_gardens %}{{image.the_gardens.url}}{% else %}../media/MEPKING/g2.png{% endif %}"
                 alt="">
            <div class="text">
                Columbarium at Mepkin Abbey
            </div>
        </a>
        <a href="/francis-artwork/" class="linker mt-2">
            <img src="{% if image.francis_artwork %}{{image.francis_artwork.url}}{% else %}../media/MEPKING/brothers.png{% endif %}"
                 alt="">
            <div class="text">
                Fr. Francis' Artwork
            </div>
        </a>
        <a href="/brothers/" class="linker mt-2">
            <img src="{% if image.the_brothers %}{{image.the_brothers.url}}{% else %}../media/MEPKING/brothers.png{% endif %}"
                 alt="">
            <div class="text">
                The Brothers
            </div>
        </a>
        <a href="/retreat-center/" class="linker mt-2">

            <img src="{% if image.retreat_center %}{{image.retreat_center.url}}{% else %}../media/MEPKING/brothers.png{% endif %}"
                 alt="">
            <div class="text">
                Retreat Center
            </div>
        </a>
    </div>
</div>

{% include 'navbar.html' %}
{% endblock %}