{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="bg-secondary text-white">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center py-2">
            <h1>
                <span class="me-4">
                    <a href="{% url 'the-brothers' %}" class="text-decoration-none text-white">
                        <i class="fa-solid fa-arrow-left"></i>
                    </a>
                </span>
                Who We Are
            </h1>
            <img src="{% static 'MEPKING/logo.png' %}" height="75rem" alt="">
        </div>
    </div>
</div>

<div class="container mt-3">

    <div class="row row-cols-1 row-cols-md-3 g-3">
        <div class="col">
            <a href="https://mepkinabbey.org/becoming-a-monk/" target="_blank" class="text-decoration-none">
                <div class="card border-0">
                    <img src="{% static 'MEPKING/Becoming a monk.jpeg' %}"
                         class="card-img rounded-3" alt="..." style="height: 15rem; object-fit: cover;">
                    <div class="card-img-overlay">
                        <h6 class="card-text fw-bold position-absolute bottom-0 mb-2 p-2" style="color: #fff; background-color: rgba(0, 0, 0, 0.6)">
                            Becoming a Monk
                        </h6>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="https://mepkinabbey.org/mission-statement/" target="_blank" class="text-decoration-none">
                <div class="card border-0">
                    <img src="{% static 'MEPKING/mission statement.jpeg' %}"
                         class="card-img rounded-3" alt="..." style="height: 15rem; object-fit: cover;">
                    <div class="card-img-overlay">
                        <h6 class="card-text fw-bold position-absolute bottom-0 mb-2 p-2" style="color: #fff; background-color: rgba(0, 0, 0, 0.6)">
                            Mission Statement
                        </h6>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<br>
{% include 'navbar.html' %}
{% endblock %}