{% extends 'base.html' %}
{% block content %}

<div class="container my-4">
    <h1 class="mb-4">Who We Are</h1>
    <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-item-action">
            <a href="https://mepkinabbey.org/becoming-a-monk/" target="_blank" class="text-decoration-none"><span>&#8226;</span>
                Becoming a Monk</a>
        </li>
        <li class="list-group-item list-group-item-action">
            <a href="https://mepkinabbey.org/mission-statement/" target="_blank" class="text-decoration-none"><span>&#8226;</span>
                Mission Statement</a>
        </li>
        <li class="list-group-item list-group-item-action">
            <a href="https://mepkinabbey.org/news/" target="_blank" class="text-decoration-none"><span>&#8226;</span>
                News from Mepkin</a>
        </li>
    </ul>
</div>

{% include 'navbar.html' %}
{% endblock %}